* {
    margin: 0;
    font-family: sans-serif;
    color: aliceblue;
}
body, div#topbar {
    background-image: url("images/Screenshot-33.webp");
    background-repeat: no-repeat;
    background-size: 103%;
    background-attachment: fixed;
    background-color: black;
}
div#topbar {
    width: 100%;
    position: fixed;
}
form {
    display: flex;
    justify-content: center;
}
button {
    font-size: 2em;
    color: aliceblue;
    background-color: transparent;
    opacity: 80%;
    outline: none;
    border: none;
    cursor: pointer;
    margin: auto;
}
button:hover {
    opacity: 100%;
}
h1 {
    text-align: center;
    background-color: aliceblue;
    padding-left: 1%;
    padding-right: 1%;
}
h1:hover {
    opacity: 50%;
}
h2 {
    text-align: center;
    font-size: 2em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a {
    text-decoration: none;
    color: black;
}
div#oper, div#inicial {
    display: inline-block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
div#inicial > p {
    text-align: center;
}
label, p {
    font-size: 2em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
input, select {
    margin-bottom: 3%;
    color: black;
    font-size: 1.5em;
}
option {
    color: black;
}
.enviar, .limpar {
    background-color: rgba(0, 255, 255, 0.842);
}
.excluir {
    background-color: rgba(255, 0, 0, 0.733);
}